/* @import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap'); */
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 728px) {
    max-width: 728px;
  }
  @media (width >= 984px) {
    max-width: 984px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

@theme {
  --animate-spin-slow: spin 80s linear infinite;
  --animate-fade: fadeOut 0.5s ease-in-out;
  --animate-fadeSlow: fadeOut 1s ease-in-out;

  --shadow-ow: 0px 0px 10px 8px #01a9f6;

  --drop-shadow-icon: 0px 0px 11px #01a9f6, 0px 0px 11px #01a9f6;

  --font-sans: Nunito Sans, Segoe UI, Roboto, Koh Santepheap;

  /* Custom Color */
  --color-primary-50: #ebf2fe;
  --color-primary-100: #d7e6fd;
  --color-primary-200: #b0cdfb;
  --color-primary-300: #89b4fa;
  --color-primary-400: #629bf8;
  --color-primary-500: #01a9f6;
  --color-primary-600: #019fe7;
  --color-primary-700: #084bb8;
  --color-primary-800: #063583;
  --color-primary-900: #041f4d;
  --color-primary-950: #021532;
  --color-primary: #3b82f6;

  /* Custom Color */
  --color-black: #041824;
  --color-black-800: #0d202e;
  --color-tech-blue: #48a8f1;
  --color-navy-blue: #33455a;
  --color-purple: #714b67;
  --color-teal: #21b799;

  @keyframes fadeOut {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white dark:bg-black-800 text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@theme inline {
  --font-sans: var(--ow-font-sans), var(--ow-font-sans-kh);
  --font-heading: var(--ow-font-sans), var(--ow-font-sans-kh);
  --font-mono: var(--ow-font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-marquee-gradient: var(--marquee-gradient);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #48a8f1;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom Color */
  --marquee-gradient: #ffffff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #3b7fb2;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Custom Color */
  --marquee-gradient: #041824;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgba(60, 129, 246, 50);
  color: white;
}

.gold-logo--wide {
  max-width: 250px !important;
}

.gold-logo--high {
  max-height: 120px !important;
}

.gold-logo {
  width: auto;
  max-width: 185px;
  margin: 10px 28px;
  vertical-align: middle;
  height: auto;
  max-height: 100px;
}
.swiper-wrapper {
  margin-bottom: 50px !important;
}
/*move swiper pagination on top to image */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 0 !important;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #01a9f6 !important;
  width: 24px;
  height: 4px;
  border-radius: 8px !important;
  opacity: 1;
}

.swiper-slide {
  height: auto !important;
  align-self: stretch !important;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #323030 !important;
  width: 24px !important;
  height: 4px !important;
  border-radius: 8px !important;
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 17px !important;
  color: white;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #464343) !important;
}

.icon-filter {
  stroke-width: 1.5px;
}

.icon-filter:hover {
  filter: drop-shadow(0px 0px 11px #01a9f6) drop-shadow(0px 0px 11px #01a9f6) invert(53%) sepia(43%) saturate(2798%)
    hue-rotate(165deg) brightness(94%) contrast(106%) !important;
  stroke-width: 1.5px;
}

.padding-slide,
.swiper-container {
  padding: 15px !important;
}

.padding-slide .swiper-wrapper {
  margin-bottom: 24px !important;
}

.z-index {
  z-index: 99;
}

.hide-nav {
  top: -30%;
}

.ham-position {
  top: 0;
}

/*-------- Scroll To Top Style Css --------*/
.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: -60px;
  z-index: 999;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
  display: block;
  padding: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  border: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: #01a9f6;
  background-size: 200% auto;
  background-position: left center;
  color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .scroll-to-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }
}
.scroll-to-top.show {
  visibility: visible;
  opacity: 0.8;
  bottom: 68px;
}

/* --- Center reCAPTCHA --- */
div:has(> iframe[title='recaptcha challenge expires in two minutes']) {
  @apply top-[calc(50%-290px)]!;
}
.required::after {
  content: '*';
  color: red;
}